.emptyTitleCoverImg {
    background-image: url(./svg/superhero-standing.svg);
}

.errorCoverImg {
    background-image: url(./svg/lying-down.svg);
}

.emptyCoverImg {
    background-image: url(./svg/mummy.svg);
}