.wrapper {
  max-width: 450px;
  width: 100%;
  border: 1px solid #45474b;
  border-radius: 4px;
  padding: 14px;
  display: flex;
  margin: 8px 0;
}

.placeholderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  position: relative;
  min-width: 100px;
  height: 140px;
  border: 1px solid #333;
}

.description {
  width: 100%;
  margin-left: 24px;
}

.heading {
  margin-top: 4px;
  display: flex;
  width: 100%;
}

.title {
  width: 80%;
  height: 24px;
  border-radius: 16px;
  border: 1px solid #333;
}

.retryButton {
  width: 80%;
  height: 24px;
  border-radius: 16px;
  border: 1px solid #333;
}

.retryButton:hover {
  cursor: pointer;
  color: #f67280;
}

.year {
  width: 15%;
  height: 24px;
  border-radius: 16px;
  margin-left: 8px;
  border: 1px solid #333;
}

.authors {
  margin-top: 10px;
  width: 42%;
  height: 20px;
  border-radius: 16px;
  border: 1px solid #333;
}

.subjects {
  display: flex wrap;
  margin: 16px 0;
}

.subject {
  width: 15%;
  height: 14px;
  margin-right: 4px;
  margin-bottom: 4px;
  border-radius: 8px;
  display: inline-block;
  border: 1px solid #333;
}

.subject:nth-child(odd) {
  width: 20%;
}
